@import "tailwindcss";


    @font-face {
      font-family: "circular-web";
      src: url("/fonts/circularweb-book.woff2") format("woff2");
    }
  
    @font-face {
      font-family: "general";
      src: url("/fonts/general.woff2") format("woff2");
    }
  
    @font-face {
      font-family: "robert-medium";
      src: url("/fonts/robert-medium.woff2") format("woff2");
    }
  
    @font-face {
      font-family: "robert-regular";
      src: url("/fonts/robert-regular.woff2") format("woff2");
    }
  
    @font-face {
      font-family: "zentry";
      src: url("/fonts/zentry-regular.woff2") format("woff2");
    }
  
    @theme {
        /* This creates the 'font-circular' utility */
        --font-circular: "circular-web", sans-serif;
        
        /* This creates the 'font-zentry' utility */
        --font-zentry: "zentry", sans-serif;
      
        /* This creates the 'font-robert' utility */
        --font-robert: "robert-medium", "robert-regular", sans-serif;
      
        /* Overriding the default sans font for the whole app */
        --font-sans: "general", ui-sans-serif, system-ui;

        /* Blue Palette */
        --color-blue-50: #DFDFF0;
        --color-blue-75: #dfdff2;
        --color-blue-100: #F0F2FA;
        --color-blue-200: #010101;
        --color-blue-300: #4FB7DD;

        /* Violet Palette */
        --color-violet-three_hundred: #5724ff;

        /* Yellow Palette */
        --color-yellow-100: #8e983f;
        --color-yellow-300: #edff66;

        
      }


body{
    font-family: 'General Sans',sans-serif;
    width: 100vdw;
    overflow-x: hidden;
    background-color: #dfdff0;

}