@import "tailwindcss";


    @font-face {
      font-family: "circular-web";
      src: url("/fonts/circularweb-book.woff2") format("woff2");
    }
  
    @font-face {
      font-family: "general";
      src: url("/fonts/general.woff2") format("woff2");
    }
  
    @font-face {
      font-family: "robert-medium";
      src: url("/fonts/robert-medium.woff2") format("woff2");
    }
  
    @font-face {
      font-family: "robert-regular";
      src: url("/fonts/robert-regular.woff2") format("woff2");
    }
  
    @font-face {
      font-family: "zentry";
      src: url("/fonts/zentry-regular.woff2") format("woff2");
    }
  
    @theme {
        /* This creates the 'font-circular' utility */
        --font-circular: "circular-web", sans-serif;
        
        /* This creates the 'font-zentry' utility */
        --font-zentry: "zentry", sans-serif;
      
        /* This creates the 'font-robert' utility */
        --font-robert: "robert-medium", "robert-regular", sans-serif;
      
        /* Overriding the default sans font for the whole app */
        --font-sans: "general", ui-sans-serif, system-ui;

        /* Blue Palette */
        --color-blue-50: #DFDFF0;
        --color-blue-75: #dfdff2;
        --color-blue-100: #F0F2FA;
        --color-blue-200: #010101;
        --color-blue-300: #4FB7DD;

        /* Violet Palette */
        --color-violet-three_hundred: #5724ff;

        /* Yellow Palette */
        --color-yellow-100: #8e983f;
        --color-yellow-300: #edff66;

        
      }


body{
    font-family: 'General Sans',sans-serif;
    width: 100vdw;
    overflow-x: hidden;
    background-color: #dfdff0;

}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes colorShift {
  0% {
    border-top-color: #8b5cf6;   /* violet-500 */
    border-right-color: #1f2933; /* dark gray */
  }
  33% {
    border-top-color: #a78bfa;   /* violet-400 */
    border-right-color: #4b5563; /* gray-600 */
  }
  66% {
    border-top-color: #7c3aed;   /* violet-600 */
    border-right-color: #111827; /* near black */
  }
  100% {
    border-top-color: #8b5cf6;
    border-right-color: #1f2933;
  }
}

@keyframes loadingPulse {
  0% {
    opacity: 0.3;
    transform: scale(0.95);
    text-shadow: 0 0 0px rgba(139, 92, 246, 0);
  }
  25%{
    opacity: 0.4;
    transform: scale(0.95);
    text-shadow: 0 0 0px rgba(139, 92, 246, 0);
  }
  50% {
    opacity: 1;
    transform: scale(1);
    text-shadow: 0 0 12px rgba(139, 92, 246, 0.6);
  }

  75% {
    opacity: 0.4;
    transform: scale(0.95);
    text-shadow: 0 0 0px rgba(139, 92, 246, 0);
  }

  100% {
    opacity: 0.3;
    transform: scale(0.95);
    text-shadow: 0 0 0px rgba(139, 92, 246, 0);
  }
}




.animate-spin-color {
  animation:
    spin 1.2s linear infinite,
    colorShift 2.5s linear infinite;
    box-shadow: 0 0 8px rgba(168, 85, 247, 0.5);

}

.animate-loading{
  animation: loadingPulse 1.6s ease-in-out infinite;
  text-shadow: 0 0 14px rgba(167, 139, 250, 0.7);

}
